<chat:>
  <div class="bs-docs-header" id="content">
    <div class="container">
      {{each users as #user}}
      <a href="{{#user.profileUrl}}" target="_blank">
        <img src="{{#user.avatar}}" class="navbar-avatar" title="{{#user.displayName}}">
      </a>
      {{/each}}
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="media">
          {{each messages as #message}}
          <a class="pull-left" on-click="username(#message.userId)">
            <img class="media-object navbar-avatar" src="{{#root.users[#message.userId].avatar}}"
                 alt="{{#root.users[#message.userId].username}}">
          </a>

          <div class="media-body">
            <h5 class="media-heading"><i>{{#root.users[#message.userId].username}}</i>
              <small> {{date(#message.date)}}</small>
            </h5>
            <div>{{unescaped #message.html}}</div>
            <hr/>
          </div>
          {{/each}}
        </div>
        <div>
          {{if #root._session.loggedIn}}
          <textarea class="text" as="text" on-keydown="message($event)" autofocus="true">{{text}}</textarea>
          {{else}}
          To write messages, please <a href="/auth/github">log in</a>
          {{/if}}
        </div>
      </div>
    </div>
  </div>