<Body:>
    <view is="main-header"></view>
    <div class="bs-docs-home-page" id="content" role="main">
      <div class="container">
        <div class="rows">
          <div class="row top">
            <h1 class="lead">Expect more from your MVC. </h1>
            <h3>DerbyJS is a full-stack framework for writing modern web applications.</h3>
            <a href="started" class="getstarted">Get started</a>

            <!--
            <ul class="bs-docs-social-buttons">
              <li>
                <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=derbyjs&repo=derby&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100" height="20" title="Star on GitHub"></iframe>
              </li>
              <li>
                <a href="https://twitter.com/derbyjs" class="twitter-follow-button" data-show-count="false">Follow @derbyjs</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
              </li>
            </ul>
            -->
          </div>

          <div class="row">
            <!-- <img src="images/responsive.png" class="img-responsive"> -->
            <h2>Realtime collaboration</h2>
            <div class="example">
              <iframe class="bars" src="http://render.derbyjs.com/?view=bars" scrolling="no"></iframe>
              <p class="example-caption">
                (This chart is synced for all browsers on this page.
                &sp;
                <a href="" target="_blank">Try opening a second window!</a>)
              </p>
            </div>
            <!-- <p class="subtitle">expect more from your model</p> -->
            <p>
              Effortlessly sync data across clients and servers with automatic conflict resolution powered by <a href="http://sharejs.org" target="_blank">ShareJS</a>'s operational transformation of JSON and text.
            </p>
          </div>
          <div class="row">
            <!-- <p class="subtitle">expect more from your controller</p> -->
            <h2>Server Rendering</h2>

            <p>The same templates can be rendered to HTML in the browser or on the server. This means you can have fast page loads, search engine support and even use the same templates to render emails.
            <!-- more clarity around render everywhere -->
            </p>
            <div class="example">
              <iframe class="renderer" src="http://render.derbyjs.com/?view=editor" scrolling="no"></iframe>
            </div>
            <p>
            </p>
          </div>

          <div class="row">
            <!-- <p class="subtitle">expect more from your view</p> -->
            <p><h2>Components and View bindings</h2></p>
            <!-- <img src="images/html5logos.png" class="logos"> -->
            <p>Organize your code into Components with designer-friendly HTML templates.<br>
              Easily specify live bindings between the view and model so that when data changes, the view updates instantly. </p>
          </div>

          <div class="row">
            <!-- <p class="subtitle">expect more from your framework</p> -->
            <h2>
              Modular
            </h2>
            <!-- <img src="images/nodejs.png" class="img-small"> -->
            <p>DerbyJS is composed of several standard <a href="http://nodejs.org/" target="_blank">Node.js</a> modules. Mix and match your own code, <a href="/resources">community modules</a> and DerbyJS functionality with standard tools like <a href="http://npmjs.org" target="_blank">npm</a> and <a href="http://browserify.org/" target="_blank">browserify</a>.
            </p>
          </div>
          <div class="row">
              <!-- <img src="images/derby.png" class="img-responsive"> -->
              <!-- <p class="subtitle">let's collaborate</p> -->
              <h2>Community</h2>
            <p>
              <a href="/resources#community">Connect</a> with people using and developing DerbyJS! Ask questions and show off what you are building on the <a href="http://groups.google.com/group/derbyjs" target="_blank">mailing list</a>, <a href="http://stackoverflow.com/questions/tagged/derbyjs" target="_blank">StackOverflow</a>, <a href="http://github.com/derbyjs" target="_blank">GitHub</a> and more!
            </p>
          </div>

          <div class="row bottom">
            <a href="/started" class="getstarted">Get started</a>
          </div>
        </div>
      </div>
      <view is="main-footer"></view>
    </div>
