<index:>
    <div class="bs-docs-masthead" id="content" role="main">
        <div class="container">
            <p class="lead">Full-Stack framework making it easy to write realtime,<br/> collaborative applications that
                run in both Node.js and browsers.</p>
            <p class="lead">
                <a href="learn" class="btn btn-outline-inverse btn-lg">Learn more</a>
            </p>
        </div>
    </div>

    <div class="bs-docs-featurette">
        <div class="container">
            <div class="row docs-thumbs">
                <div class="col-sm-4">
                    <img src="images/responsive.png" class="img-responsive"/>
                    <h3>Realtime collaboration</h3>
                    <p>Powered by ShareJS’s operational transformation of JSON and text, all conflicting data changes
                        are automatically resolved. By default, every text input is a collaborative text editor, and
                        every bit of data in the model can be collaboratively edited in realtime or offline.</p>
                </div>
                <div class="col-sm-4">
                    <img src="images/arrows.png" class="img-responsive"/>
                    <h3>Client and server routing</h3>
                    <p>The same routes produce a single-page browser app and an Express server app. Links render
                        instantly with push/pop state changes in modern browsers, while server rendering provides access
                        to search engines and browsers without JavaScript.</p>
                </div>
                <div class="col-sm-4">
                    <img src="images/browser.png" class="img-responsive"/>
                    <h3>HTML templates and View bindings</h3>
                    <p>Handlebars-like templates are rendered into HTML on both the server and client. In addition to
                        HTML rendering, templates specify live bindings between the view and model. When model data
                        change, the view updates the properties, text, or HTML necessary to reflect the new data. </p>
                </div>
                <div class="col-sm-4">
                    <img src="images/github.png" class="img-responsive"/>
                    <h3><a href="https://github.com/codeparty/derby" target="_blank">Github</a></h3>
                </div>
                <div class="col-sm-4">
                    <img src="images/comments.png" class="img-responsive"/>
                    <h3><a href="https://groups.google.com/forum/#!forum/derbyjs" target="_blank">Google Group</a></h3>
                </div>
                <div class="col-sm-4">
                    <img src="images/derby.png" class="img-responsive"/>
                    <h3>Derby Party</h3>
                    <p>
                    <ul class="bs-docs-social-buttons">
                        <li>
                            <a href="https://github.com/derbyparty" target="_blank">Github</a>
                        </li>
                        <li>
                            <a href="http://chat.stackoverflow.com/rooms/41934/derbyjs-ru" target="_blank">Stackoverflow Chat</a>
                        </li>
                    </ul>
                    </p>
                </div>
            </div>
            <hr class="half-rule"/>
        </div>
    </div>