<Body:>
    <view is="main-header"></view>
    <div class="bs-docs-home-page" id="content" role="main">
      <div class="container">
        <div class="rows">
          <div class="row top">
            <h1 class="lead">Expect more from your MVC. </h1>
            <h3>DerbyJS is a full-stack framework for writing modern web applications.</h3>
            <a href="started" class="getstarted">Get started</a>
          </div>

          <div class="row">
            <h2>Realtime collaboration</h2>
            <div class="example">
              <iframe class="bars" src="//render.derbyjs.com/?view=bars" scrolling="no"></iframe>
              <p class="example-caption">
                This chart is synced for all browsers on this page. <a href="" target="_blank">Try opening a second window!</a>
              </p>
            </div>
            <p>
              Effortlessly sync data across clients and servers with automatic conflict resolution powered by <a href="https://github.com/share/sharedb" target="_blank">ShareDB</a>'s operational transformation of JSON and text.
            </p>
          </div>

          <div class="row">
            <h2>Server rendering</h2>
            <p>Templates can be rendered in the browser and on the server. In a browser, DerbyJS renders with fast, native DOM methods.</p>
            <p>On the server, no DOM or virtual DOM implementation is needed—the same templates return HTML as well! HTML rendering means faster page loads, full search engine support, and ability to use the same templates for all types of HTML output, such as emails.</p>
            <div class="example">
              <iframe class="renderer" src="//render.derbyjs.com/?view=editor" scrolling="no"></iframe>
            </div>
            <p class="example-caption">
              Even parse templates in the browser. Go ahead, edit the template above <b>⤴</b>
            </p>
          </div>

          <div class="row">
            <h2>Components and data bindings</h2>
            <p>Organize your code into Components with designer-friendly HTML templates.<br>
              Easily specify live bindings between the view and model so that when data changes, the view updates instantly.</p>
          </div>

          <div class="row">
            <h2>Modular</h2>
            <p>DerbyJS is composed of several standard <a href="https://nodejs.org/" target="_blank">Node.js</a> modules. Mix and match your own code, <a href="/resources">community modules</a> and DerbyJS functionality with standard tools like <a href="https://npmjs.org" target="_blank">npm</a> and <a href="http://browserify.org/" target="_blank">browserify</a>.</p>
          </div>

          <div class="row">
            <h2>Community</h2>
            <p>
              <a href="/resources#community">Connect</a> with people using and developing DerbyJS! Ask questions and show off what you are building on the <a href="https://groups.google.com/group/derbyjs" target="_blank">mailing list</a>, <a href="https://stackoverflow.com/questions/tagged/derbyjs" target="_blank">StackOverflow</a>, <a href="https://github.com/derbyjs" target="_blank">GitHub</a> and more!
            </p>
          </div>

          <div class="row bottom">
            <a href="/started" class="getstarted">Get started</a>
          </div>
        </div>
      </div>
      <view is="main-footer"></view>
    </div>
