<import: src="./chat">
<import: src="./home">
<import: src="./compare">
<import: src="./docs">
<import: src="./learn">
<import: src="./faq">
<import: src="./resources">
<import: src="./docs/application" ns="docs:application">
<import: src="./docs/components" ns="docs:components">
<import: src="./docs/model" ns="docs:model">
<import: src="./docs/routes" ns="docs:routes">
<import: src="./docs/store" ns="docs:store">
<import: src="./docs/views" ns="docs:views">
<import: src="../../md/compare" ns="md:compare">
<import: src="../../md/faq" ns="md:faq">
<import: src="../../md/learn" ns="md:learn">
<import: src="../../md/resources" ns="md:resources">
<import: src="../../md/docs/application" ns="md:docs:application">
<import: src="../../md/docs/components" ns="md:docs:components">
<import: src="../../md/docs/model" ns="md:docs:model">
<import: src="../../md/docs/routes" ns="md:docs:routes">
<import: src="../../md/docs/store" ns="md:docs:store">
<import: src="../../md/docs/views" ns="md:docs:views">

<Head:>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="description" content=""/>
  <meta name="keywords" content=""/>
  <meta name="author" content=""/>

<Title:>
  Derby

<Body:>
  <div class="bs-docs-home">
    <view name="mainheader"/>
    <view name="{{$render.ns}}"/>
  </div>
  <view name="mainfooter"/>

<mainheader:>
  <div class="navbar navbar-static-top navbar-fixed-top bs-docs-nav" id="top" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand"><img src="/images/logo.png"/></a>
      </div>
      <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
        <ul class="nav navbar-nav">
          <nav-link href="/compare" caption="Compare"></nav-link>
          <nav-link href="/docs" caption="Docs"></nav-link>
          <nav-link href="/learn" caption="Learn"></nav-link>
          <nav-link href="/faq" caption="FAQ"></nav-link>
          <nav-link href="/resources" caption="Resources"></nav-link>
          <nav-link href="/chat" caption="Chat"></nav-link>
        </ul>
        <view name="preferences"/>
        <ul class="nav navbar-nav navbar-right">
          {{if _session.loggedIn}}
            <li>
                <p class="navbar-text">
                    <img src="{{_session.user.avatar}}" class="navbar-avatar"/>
                    <span> {{_session.user.displayName || _session.user.username}}</span>
                </p>
            </li>
            <li>
                <a href="/auth/logout">Logout</a>
            </li>
          {{else}}
            <li>
                <a href="/auth/github">Login</a>
            </li>
          {{/}}
        </ul>
      </nav>
    </div>
  </div>

<mainfooter:>
  <div class="bs-docs-footer footer" role="contentinfo">
    <div class="container">
      <div class="bs-docs-social">
        <ul class="bs-docs-social-buttons">
          <li>
            <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=codeparty&repo=derby&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100" height="20" title="Star on GitHub"></iframe>
          </li>
          <li>
            <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=codeparty&repo=derby&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100" height="20" title="Fork on GitHub"></iframe>
          </li>
        </ul>
      </div>

      <ul class="bs-docs-footer-links muted">
        <li><a href="https://groups.google.com/forum/#!forum/derbyjs" target="_blank">Google Group</a></li>
        <li>&middot;</li>
        <li><a href="http://blog.derbyjs.com" target="_blank">Blog</a></li>
        <li>&middot;</li>
        <li><a href="https://github.com/codeparty/derby" target="_blank">GitHub</a></li>
        <li>&middot;</li>
        <li><a href="https://github.com/codeparty/derby/issues?state=open" target="_blank">Issues</a></li>
        <li>&middot;</li>
        <li><a href="https://github.com/codeparty/derby/releases" target="_blank">Releases</a></li>
      </ul>

      <p>Code licensed under <a href="http://opensource.org/licenses/MIT" target="_blank">MIT</a>, documentation under <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank">CC BY 3.0</a>.</p>
    </div>
  </div>

<nav-link: element="nav-link">
  <li class="{{if $render.url === @href}}active{{/}}">
    <a href="{{@href}}">{{@caption}}</a>
  </li>

<markdown: element="markdown">
  <div class="container">
    <div class="row">
      <div class="col-md-3 sidebar">
        <view name="sidebar"/>
      </div>
      <div class="col-md-9 main">
        <view name="md:{{$render.ns}}"/>
      </div>
    </div>
  </div>
