<import: src="./docs">
<import: src="./faq">
<import: src="./learn">
<import: src="./resources">

<Title:>
  Derby

<Head:>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  
  <!-- Highlight.js Github Style -->
  <link href="css/github.min.css" rel="stylesheet">

<Body:>

  <!-- Navbar -->

    <div class="navbar navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="img/logo.png"/></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/learn">Learn</a></li>
            <li><a href="/docs">Docs</a></li>
            <li><a href="/faq">FAQ</a></li>
            <li><a href="http://blog.derbyjs.com">Blog</a></li>
            <li><a href="/resources">Resources</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#" class="github">
              <iframe src="http://ghbtns.com/github-btn.html?user=codeparty&repo=derby&type=watch&count=true&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="170" height="30"></iframe>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Label -->

    <div class="navbar navbar-static-top">
      <div class="container">

        <div class="starter-template">
          <h1>Awesome framework</h1>
          <p class="lead">Full-Stack framework making it easy to write realtime,<br> collaborative applications that run in both Node.js and browsers.</p>
        </div>

      </div>
    </div>

    <!-- Marketing messaging and featurettes -->

    <div class="container marketing">

      <!-- START THE FEATURETTES -->

      <div class="row featurette">
        <div class="col-md-6">
          <h2>Clients synchronization <span class="text-muted"></span></h2>
          <p class="lead">
            It`s easy to dynamacally bind your data between server database and browsers. Powered by <a href="http://sharejs.org/">Share.js’s</a> operational transformation of JSON and text, all conflicting data changes are automatically resolved.
          </p>
          <p class="lead text-muted">
            For more impressions, open this page in some browser windows and edit the input.
          </p>
          <p class="lead">
            <input type="text" value="{{examples.text}}"/><br>
            {{examples.text}}
          </p>
        </div>
        <div class="col-md-6 code">
{{markdown}}
```javascript
app.get('/', function(page, model) {
  // Binding for document 'text' in collection 'examples'
  model.subscribe('examples.text', function(err) {
    // Render with default template
    page.render();
  });
});
```

```html
<input type="text" value="{{examples.text}}"/><br>
{{examples.text}}
```
{{/markdown}}
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-6 code">
{{markdown}}
```javascript
// This is Derby router
app.get('/home', function(page, model) {
  // Can be run on server and client
  page.render('home');
});
```
{{/markdown}}
        </div>
        <div class="col-md-6">
          <h2>Client and Server rendering</h2>
          <p class="lead">
            On first request, html is rendered server-side, which is good for page loading time and SEO. On subsequent url changes, html is rendered client-side, which is good for interactivity.
          </p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-6">
          <h2>Express App</h2>
          <p class="lead">
            Derby app - extended Express app. You can use Connect middleware. All requests that are not catched by Derby router, fall to Express router.
          </p>
        </div>
        <div class="col-md-6 code">
{{markdown}}
```javascript
expressApp
  // Gzip dynamically
  .use(expressApp.compress())

  // Derby router
  .use(app.router())
  // Express router
  .use(expressApp.router)

expressApp.post('/upload', function(req, res, next) {
  // Express route for file uploads
});
```
{{/markdown}}
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-12">
          <h2>Why not Rails, Django, Yii, Asp Net MVC?</h2>
          <p class="lead">
            Adding dynamic features to apps written with server-side frameworks tends to produce a tangled mess. Server code renders various initial states while jQuery selectors and callbacks desperately attempt to make sense of the DOM and user events. Adding new features typically involves changing both server and client code, often in different languages.
          </p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-12">
          <h2>Why not Angular, Backbone, Marionette, Knockout, Ember?</h2>
          <p class="lead">
            Client-side MVC frameworks helps to better structure client code. Declarative model-view binding libraries reduces boilerplate DOM manipulation and event bindings. These are great concepts, and adding some structure certainly improves client code. However, they still lead to duplicating rendering code and manually synchronizing changes in increasingly complex server and client code bases. Not only that, each of these pieces must be manually wired together and packaged for the client. And client-side html rendering only is not good for SEO and page loading time.
          </p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-12">
          <h2>Why not Meteor?</h2>
          <p class="lead">
            Meteor has very nice api and you can make your app in 'just two clicks'. That`s great for simple apps. Price for this is monolithic framework structure. The more your app is growing, the more flexibility you want from framework. That`s where Derby comes to play.
          </p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-12">
          <h2>Why Derby?</h2>
          <p class="lead">
             The only isomorphic framework. The only framework with OT conflict resolution. It`s scallable, flexible (npm, express, etc) without glue code. Derby is good for writing all kinds of web-apps from static web-sites (even without database) to realtime multiplayer games and collaborative applications. Derby is Awesome.
          </p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-6">
          <img class="featurette-image img-responsive" src="img/derby-medium-transparent.png" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
        <div class="col-md-6">
          <h2 class="featurette-heading">Next Steps</h2>
          <br>
          <p class="lead">
            Get Started with <a href="/learn">Tutorials</a>
          </p>
          <p class="lead">
            Have questions? <a href="/faq">FAQ</a>
          </p>
          <p class="lead">
            Subsribe to <a href="https://groups.google.com/forum/#!forum/derbyjs">Mailing List</a>
          </p>
          <p class="lead">
            Grab the <a href="https://github.com/codeparty/derby">Sources</a>
          </p>
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right">&copy; 2014 <a href="http://lever.co"> Lever, Inc.</a></p>
      </footer>

    </div><!-- /.container -->

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="js/jquery-1.10.2.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>