<import: src="../../md" ns="">
<import: src="./home">

<Head:>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122347987-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-122347987-1');
  </script>
  <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600|Roboto:400,600' rel='stylesheet' type='text/css'>

<Title:>
  DerbyJS

<Body:>
  <div class="bs-docs-home">
    <view is="main-header"></view>
    <div class="container">
        <div class="col-md-3 sidebar">
          <view is="{{$render.ns}}:sidebar" optional></view>
        </div>
        <div class="col-md-9 main">
          <view is="{{$render.ns}}"></view>
          {{if _page.links[$render.ns]}}
            <a class="btn btn-outline btn-lg next" href="{{this}}">Next&nbsp; &#10132;</a>
          {{/if}}
          <a class="edit-on-github" href="{{gitHubEditLink($render.url)}}">Edit on GitHub</a>
        <view is="main-footer"></view>
        </div>
    </div>
  </div>

<sidebar-outline:>
  <ul class="list-group">
    {{each @items as #item}}
      {{if #item.name === $render.ns}}
        <li class="list-group-item level-{{#item.level}} active"><a >{{#item.title}}</a></li>
      {{else}}
        <li class="list-group-item level-{{#item.level}}"><a href="{{#item.href}}">{{#item.title}}</a></li>
      {{/if}}
    {{/each}}
  </ul>

<main-header:>
  <div class="navbar navbar-static-top navbar-fixed-top bs-docs-nav" id="top" role="banner">
    <div class="header-container">
      <div class="navbar-header">
        <a href="/" class="navbar-brand"><img height="44" src="/images/logo.png"></a>
      </div>
      <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
        <ul class="nav navbar-nav">
          <view is="nav-link" href="/started">Get started</view>
          <view is="nav-link" href="/docs/derby-0.10">Docs</view>
          <view is="nav-link" href="/resources">Resources</view>
        </ul>
      </nav>
      <div class="navbar-search-container">
        <script async src="https://cse.google.com/cse.js?cx=011470309218197930356:xg9bmk4xhsg"></script>
        <div class="gcse-search" enableAutoComplete="true"></div>
      </div>
    </div>
  </div>

<nav-link:>
  <li class="{{if linkMatch(@href, $render)}}active{{/}}">
    <a href="{{@href}}">{{@content}}</a>
  </li>

<main-footer:>
  <div class="bs-docs-footer footer" role="contentinfo">
    <div class="container">
      <div class="bs-docs-social">
        <ul class="bs-docs-social-buttons">
          <li>
            <iframe src="https://ghbtns.com/github-btn.html?user=derbyjs&repo=derby&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
          </li>
          <li>
            <iframe src="https://ghbtns.com/github-btn.html?user=derbyjs&repo=derby&type=watch&count=true&size=large&v=2" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
          </li>
        </ul>
      </div>
      <ul class="bs-docs-footer-links muted">
        <li><a href="https://groups.google.com/forum/#!forum/derbyjs" target="_blank">Google Group</a></li>
        <li>&middot;</li>
        <li><a href="https://gitter.im/derbyjs/derby" target="_blank">Gitter chat</a></li>
        <li>&middot;</li>
        <li><a href="https://github.com/derbyjs/derby" target="_blank">GitHub</a></li>
        <li>&middot;</li>
        <li><a href="https://github.com/derbyjs/derby/issues?state=open" target="_blank">Issues</a></li>
      </ul>
      <p class="attribution">
        Code licensed under <a href="https://opensource.org/licenses/MIT" target="_blank">MIT</a>,&sp;
        documentation under <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank">CC BY 3.0</a>.
      </p>
    </div>
  </div>
