<Title:>
  Derby Party - Resources

<index:>
  <div class="bs-docs-header" id="content">
    <div class="container">
      <h1>Resources</h1>
      <p></p>
    </div>
  </div>

  <div class="container">

    <div class="row">
      <div class="col-md-3 sidebar">
        <div class="bs-docs-sidebar hidden-print" role="complementary">
          <ul class="nav bs-docs-sidenav">
            <li><a href="#links">Links</a></li>
            <li><a href="#plugins-extensions">Plugins, Extensions</a>
              <ul class="nav">
                <li><a href="#auth">Auth and Security</a></li>
                <li><a href="#components">Components</a></li>
                <li><a href="#other">Other</a></li>
              </ul>
            </li>
            <li><a href="#example-app-sources">Example app sources</a></li>
            <li><a href="#derby-sources">Derby Sources</a></li>
            <li><a href="#projects-in-production">Projects in production</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-9 main">
        <h2 id="links">Links</h2>
        <p><a href="http://derbyjs.com" target="_blank">DerbyJS</a><br/>Official site</p>
        <p><a href="http://groups.google.com/group/derbyjs" target="_blank">Google Groups</a><br/>Mailing list</p>
        <p><a href="http://stackoverflow.com/questions/tagged/derbyjs" target="_blank">Stackoverflow DerbyJS tag</a><br/>Best place for questions</p>
        <p><a href="http://chat.stackoverflow.com/rooms/41933/derbyjs" target="_blank">Stackoverflow Chat</a><br/>Bla bla bla</p>
        <p><a href="http://chat.stackoverflow.com/rooms/41934/derbyjs-ru" target="_blank">Stackoverflow Chat (Ru)</a><br/>Бла бла бла</p>
        <p><a href="http://github.com/codeparty/derby/issues" target="_blank">Github Issues</a><br/>Submit a problem</p>
        <p><a href="https://www.youtube.com/user/LeverApp" target="_blank">YouTube Lever</a><br/>Some videos</p>
        <p><a href="https://twitter.com/derbyjs" target="_blank">Twitter</a></p>
        <p><a href="http://habrahabr.ru/hub/derbyjs/" target="_blank">Habr</a><br/>Habrahabr.ru Derby Hub</p>
        <p><a href="https://github.com/derbyparty" target="_blank">Github</a><br/>Derby Party</p>
        <p>Irc: #derbyjs on irc.freenode.net</p>
        <hr class="half-rule"/>
        <h2 id="plugins-extensions">Plugins, Extensions</h2>
        <h3 id="auth">Auth and Security</h3>
        <p><a href="https://github.com/derbyparty/derby-login" target="_blank">derby-login</a><br/>Provides authentication middleware (using Passport) for use in your Derby projects</p>
        <p><a href="https://github.com/Exegra/derby-passport" target="_blank">derby-passport</a><br/>Fork of derby-auth 0.5 branch</p>
        <p><a href="https://npmjs.org/package/derby-user" target="_blank">derby-user</a><br/>A user library for Derby</p>
        <p><a href="https://github.com/derbyparty/derby-validation" target="_blank">derby-validation</a><br/>Schema validation for Racer and Derby</p>
        <h3 id="components">Components</h3>
        <p><a href="https://github.com/codeparty/derby-ui-boot" target="_blank">Derby UI Boot</a><br/>A Derby component library based on Twitter Bootstrap</p>
        <p><a href="https://github.com/1N50MN14/derby-autosuggest" target="_blank">derby-autosuggest</a><br/>Multi auto suggest component &amp; code example for Derby</p>
        <p><a href="https://github.com/ile/derby-ui-toast" target="_blank">derby-ui-toast</a><br/>Notification messages (toasts)</p>
        <p><a href="https://github.com/ile/derby-ui-modal" target="_blank">derby-ui-modal</a><br/>Modal dialog</p>
        <p><a href="https://github.com/codeparty/d-quill" target="_blank">d-quill</a><br/>Derby rich text editor component based on <a href="http://quilljs.com/" target="_blank">Quill</a></p>
        <h3 id="other">Other</h3>
        <p><a href="https://github.com/jamesknelson/derby-i18n" target="_blank">i18n</a><br/>Simple filesystem-based i18n support for derby, a node.js MVC framework. It is planned to support interpolation and plurals in the near future.</p>
        <p><a href="https://github.com/derbyparty/derby-hook" target="_blank">derby-hook</a><br/>The way to hook db-interactions on the server</p>
        <p><a href="https://github.com/derbyparty/derby-boilerplate" target="_blank">Derby Boilerplate</a><br/>Template of Derby 0.6 application</p>
        <p><a href="https://github.com/codeparty/derby-starter" target="_blank">derby-starter</a><br/>A generic server for use with Derby apps</p>
        <p><a href="https://github.com/codeparty/derby-less" target="_blank">derby-less</a><br/>Derby plugin to add Less support</p>
        <p><a href="https://github.com/codeparty/derby-stylus" target="_blank">derby-stylus</a><br/>Derby plugin to add stylus support</p>
        <hr class="half-rule"/>
        <h2 id="example-app-sources">Example app sources</h2>
        <p><a href="https://github.com/codeparty/derby-examples" target="_blank">Derby Examples</a><br/>Example applications for the Derby framework</p>
        <p><a href="https://github.com/switz/phishvids" target="_blank">Phish Vids</a><br/>Interactive drill-down searching for Phish videos</p>
        <p><a href="https://github.com/HabitRPG/habitrpg/tree/challenges-and-0.5" target="_blank">HabitRPG</a><br/>A habit tracker app which treats your goals like a Role Playing Game</p>
        <p>Old Version (Derby 0.3):</p>
        <p><a href="https://github.com/cray0000/type4fame" target="_blank">Type4Fame</a><br/>Multiplayer Typing Game - <a href="http://type4fame.com/" target="_blank">demo</a></p>
        <hr class="half-rule"/>
        <h2 id="derby-sources">Derby Sources</h2>
        <p><a href="https://github.com/codeparty/derby" target="_blank">Derby</a></p>
        <p><a href="https://github.com/codeparty/racer" target="_blank">Racer</a></p>
        <p><a href="https://github.com/share/ShareJS" target="_blank">ShareJS</a></p>
        <p>More repos in <a href="https://github.com/codeparty" target="_blank">codeparty</a> and <a href="https://github.com/share" target="_blank">share</a></p>
        <hr class="half-rule"/>
        <h2 id="projects-in-production">Projects in production</h2>
        <p><a href="https://lever.co/" target="_blank">Lever</a><br/>A modern web app for hiring</p>
        <p><a href="https://unroll.me" target="_blank">Unroll.me</a><br/>Life is busy. Your inbox shouldn&#39;t be.<br/>Note that the front pages are currently all static views and do not showcase Derby; to see Derby apps in<br/>action, you&#39;ll need to log in or sign up.</p>
        <p><a href="http://type4fame.com/" target="_blank">Type4Fame</a><br/>Multiplayer Typing Game - <a href="https://github.com/cray0000/type4fame" target="_blank">source code</a></p>
        <p><a href="http://bibliaolvaso.hu/ujforditas/1moz/1" target="_blank">Bible Reading</a><br/>Bible translation app.</p>
      </div>

    </div>
  </div>