<Title:>
    Derby Party - Resources

<index:>
    <div class="bs-docs-header" id="content">
        <div class="container">
            <h1>Resources</h1>
            <p></p>
        </div>
    </div>

    <div class="container">

        <div class="row">
            <div class="col-md-3 sidebar">
                <div class="bs-docs-sidebar hidden-print" role="complementary">
                    <ul class="nav bs-docs-sidenav">
                        <li><a href="#plugins-extensions-">Plugins, Extensions
                        </a><ul class="nav"><li><a href="#auth-">Auth
                        </a></li><li><a href="#components-">Components
                        </a></li><li><a href="#other-">Other
                        </a></li></ul></li><li><a href="#example-app-sources-">Example app sources
                    </a></li><li><a href="#derby-sources-">Derby Sources
                    </a></li><li><a href="#projects-in-production-">Projects in production
                    </a></li><li><a href="#links-">Links
                    </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9 main">
                <h2 id="plugins-extensions">Plugins, Extensions</h2>
                <h3 id="auth">Auth</h3>
                <p><a href="https://github.com/lefnire/derby-auth/tree/0.5">derby-auth</a><br>Provides authentication middleware (using Passport) for use in your Derby projects (Use branch 0.5)</p>
                <p><a href="https://github.com/Exegra/derby-passport">derby-passport</a><br>Fork of derby-auth 0.5 branch</p>
                <p><a href="https://npmjs.org/package/derby-user">derby-user</a><br>A user library for Derby</p>
                <h3 id="components">Components</h3>
                <p><a href="https://github.com/codeparty/derby-ui-boot">Derby UI Boot</a><br>A Derby component library based on Twitter Bootstrap</p>
                <p><a href="https://github.com/1N50MN14/derby-autosuggest">derby-autosuggest</a><br>Multi auto suggest component &amp; code example for Derby</p>
                <p><a href="https://github.com/ile/derby-ui-toast">derby-ui-toast</a><br>Notification messages (toasts)</p>
                <p><a href="https://github.com/ile/derby-ui-modal">derby-ui-modal</a><br>Modal dialog</p>
                <h3 id="other">Other</h3>
                <p><a href="https://github.com/jamesknelson/derby-i18n">i18n</a><br>Simple filesystem-based i18n support for derby, a node.js MVC framework. It is planned to support interpolation and plurals in the near future.</p>
                <h2 id="example-app-sources">Example app sources</h2>
                <p><a href="https://github.com/codeparty/derby-examples">Derby Examples</a><br>Example applications for the Derby framework</p>
                <p><a href="https://github.com/switz/phishvids">Phish Vids</a><br>Interactive drill-down searching for Phish videos</p>
                <p><a href="https://github.com/HabitRPG/habitrpg/tree/challenges-and-0.5">HabitRPG</a><br>A habit tracker app which treats your goals like a Role Playing Game</p>
                <p>Old Version (Derby 0.3):</p>
                <p><a href="https://github.com/switz/derby-boilerplate">Derby Boilerplate</a><br>A saner starting point for new projects than <code>derby new first-project</code></p>
                <p><a href="https://github.com/cray0000/type4fame">Type4Fame</a><br>Multiplayer Typing Game - <a href="http://type4fame.com/">demo</a></p>
                <h2 id="derby-sources">Derby Sources</h2>
                <p><a href="https://github.com/codeparty/derby">Derby</a><br>Derby</p>
                <p><a href="https://github.com/codeparty/racer">Racer</a><br>Racer</p>
                <p><a href="https://github.com/share/ShareJS">ShareJS</a><br>ShareJS</p>
                <p>More repos in <a href="https://github.com/codeparty">codeparty</a> and <a href="https://github.com/share">share</a></p>
                <h2 id="projects-in-production">Projects in production</h2>
                <p><a href="https://lever.co/">Lever</a><br>A modern web app for hiring</p>
                <p><a href="https://unroll.me">Unroll.me</a><br>Life is busy. Your inbox shouldn&#39;t be.<br>Note that the front pages are currently all static views and do not showcase Derby; to see Derby apps in<br>action, you&#39;ll need to log in or sign up.</p>
                <p><a href="http://type4fame.com/">Type4Fame</a><br>Multiplayer Typing Game - <a href="https://github.com/cray0000/type4fame">source code</a></p>
                <p><a href="http://bibliaolvaso.hu/ujforditas/1moz/1">Bible Reading</a><br>Bible translation app.</p>
                <h2 id="links">Links</h2>
                <p><a href="http://groups.google.com/group/derbyjs">Google Groups</a><br>Mailing list</p>
                <p><a href="http://stackoverflow.com/questions/tagged/derbyjs">Stackoverflow DerbyJS tag</a><br>Best place for questions</p>
                <p><a href="http://chat.stackoverflow.com/rooms/41933/derbyjs">Stackoverflow Chat</a><br>Bla bla bla</p>
                <p><a href="http://chat.stackoverflow.com/rooms/41934/derbyjs-ru">Stackoverflow Chat (Ru)</a><br>Бла бла бла</p>
                <p><a href="http://github.com/codeparty/derby/issues">Github Issues</a><br>Submit a problem</p>
                <p><a href="https://www.youtube.com/user/LeverApp">YouTube Lever</a><br>Some videos</p>
                <p><a href="https://twitter.com/derbyjs">Twitter</a></p>
                <p>Irc: #derbyjs on irc.freenode.net</p>
                <p><a href="http://habrahabr.ru/hub/derbyjs/">Habr</a><br>Habrahabr.ru Derby Hub</p>

            </div>

        </div>
    </div>