derbyKhakiLight = #f6f0e1
derbyKhaki = #b6ae99
derbyKhakiDark = #dfdbce
derbyKhakiDarker = #716e64

derbyBlackBrown = #2b2d2d

derbyOrange = #e59e4b

derbyPink = #e58a8e
derbyRed = #e84c52

derbyTealLighter = #e8f2f1
derbyTealLight = #d2e3e1
derbyTeal = #56b3a6
derbyTealDark = #2d6961
