derbyKhakiLight = #f6f0e1
derbyKhaki = #b6ae99
derbyKhakiDark = #dfdbce
derbyKhakiDarker = #716e64

derbyBlackBrown = #2b2d2d

derbyOrange = #e59e4b

derbyPink = #e58a8e
derbyRed = #e84c52

derbyTealLighter = #e8f2f1

//derbyTealLight = #d2e3e1
derbyTealLight = #B3E5E1

//derbyTeal = #56b3a6
derbyTeal = #12B9B3
derbyTealDark = #169795
//derbyTealDark = #2d6961

// J.Lo's palette
derbySand = #FFFBF9 //background
derbyGranite = #FDF7F4 //sidebar background
derbyBrick = #F9E8E7 //`code`

derbySeaweed = #1C5654 //navbar text
derbyAlgae = #1D8482 // navbar selected bg

derbyBlack = #2F3439
derbyGray = #696969