
headerHeight = 60px
footerHeight = 110px
sidebarWidth = 300px
brandWidth = 91px

//@require '../libs/bootstrap.min.css'
//@require '../libs/docs.min.css'
@require './colors'
@require './syntax'
@require './docs'

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5em;
  color: derbyBlack;
  background: derbySand;
  //min-height: 500px;

  //removed with bootstrap
  //margin-bottom: 110px !important;
  //padding-top: 50px;
  margin: 0
}

// ------------

.bs-docs-home
  position:absolute
  top: headerHeight
  bottom: footerHeight
  width: 100%
  //height: 100%
  //min-height: 100%

.navbar-static-top
  position:fixed
  height: headerHeight
  top: 0
  right: 0
  left: 0

/////
.navbar
  min-height: 60px

.navbar-header
  margin-left:0
  margin-right:0

.navbar-static-top
  color: white;
  background: derbyTeal;
  z-index: 1030 // not sure why this has to be...
  .container
    padding: 0

.navbar-header
  width: brandWidth;
  background-color: derbyGranite;
  min-height: 60px
  .navbar-brand
    padding: 0px 0 0 10px
    img
      margin-top: 7px

// The navigation links at the top
.navbar-collapse
  position: absolute
  top: 0
  bottom: 0
  left: brandWidth

.navbar-nav
  float:left
  margin: 0
  padding-left: 25px
  li
    //
    float:left
    position:relative
    display:block
    list-style: none
    //
    &.active
      a
        color: derbySand
    a
      display: block
      padding: 20px 15px
      line-height: 20px
      text-decoration: none
      height: 20px
      font-weight: 600
      color: derbySeaweed
      &:hover
        background-color: derbyAlgae;

.header-container
  position:relative
  //max-width: 1100px
  width: 100%
  margin: 0 auto
  height: headerHeight

.container
  position:relative
  max-width: 1100px
  margin: 0 auto
  min-height: 100%
  
.sidebar
  position: absolute
  overflow: auto
  width: sidebarWidth
  top: 0
  bottom: 0

/*
.bs-docs-nav .navbar-brand, .bs-docs-nav .navbar-nav > li > a {
    font-weight: 600;
    color: derbySeaweed;
}
.bs-docs-nav .navbar-nav > .active > a, .bs-docs-nav .navbar-nav > .active > a:hover, .bs-docs-nav .navbar-nav > li > a:hover {
    color: derbySand;
    background-color: derbyAlgae;
}
.navbar-text {
  margin-bottom: 0 !important;
}
*/


.footer
  width: 100%
  background-color: #f5f5f5

  .bs-docs-social
    margin: 10px
    text-align: center





.scrollable {
  overflow-x: hidden;
  overflow-y: auto;
}
.wrapper {
  padding: 15px;
}



::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(50, 50, 50, 0.25);
  border: 2px solid transparent;
  border-radius: 10px;
  background-clip: padding-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(50, 50, 50, 0.5);
}
::-webkit-scrollbar-track {
  background-color: rgba(50, 50, 50, 0.05);
}


/* Overrides */
code
  color: derbyBlack
  background: derbyBrick
  border-radius: 2px

blockquote
  border-color: derbyTealLight
  font-size: 1em
  background: derbyTealLighter
  code
    color: #333
    font-weight: bold
    background: transparent

