
headerHeight = 60px
footerHeight = 110px
sidebarWidth = 300px
brandWidth = 91px

//@require '../libs/bootstrap.min.css'
//@require '../libs/docs.min.css'
@require './colors'
@require './syntax'
@require './docs'
@require './home'

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  line-height: 28px//1.5em;
  color: derbyBlack;
  background: derbySand;
  //min-height: 500px;

  //removed with bootstrap
  //margin-bottom: 110px !important;
  //padding-top: 50px;
  margin: 0
}

// ------------

.bs-docs-home
  position:absolute
  top: headerHeight
  bottom: footerHeight
  width: 100%
  //height: 100%
  //min-height: 100%

.navbar-static-top
  position:fixed
  height: headerHeight
  top: 0
  right: 0
  left: 0

/////
.navbar
  min-height: 60px

.navbar-header
  margin-left:0
  margin-right:0

.navbar-static-top
  color: white;
  background: derbyTeal;
  z-index: 1030 // not sure why this has to be...
  .container
    padding: 0

.navbar-header
  width: brandWidth;
  background-color: derbyGranite;
  min-height: 60px
  .navbar-brand
    padding: 0px 0 0 10px
    img
      margin-top: 7px

// The navigation links at the top
.navbar-collapse
  position: absolute
  top: 0
  bottom: 0
  left: brandWidth

.navbar-nav
  float:left
  margin: 0
  padding-left: 25px
  li
    //
    float:left
    position:relative
    display:block
    list-style: none
    //
    &.active
      a
        color: derbySand
    a
      display: block
      padding: 20px 15px
      line-height: 20px
      text-decoration: none
      height: 20px
      font-weight: 600
      color: derbySeaweed
      &:hover
        //background-color: derbyAlgae;
        color: derbySand

.header-container
  position:relative
  max-width: 1100px
  //width: 100%
  margin: 0 auto
  height: headerHeight

.container
  position:relative
  max-width: 1100px
  margin: 0 auto
  min-height: 100%
  
basePadding = 30px;

.sidebar
  position: fixed 
  overflow: auto
  width: sidebarWidth
  height: calc(100% - 60px)
  background: derbyGranite;
  padding:0
  line-height: 1.2em;

  .list-group-item
    font-size: 14px;
    //padding: 8px 0px;
    padding: 4px 0;
    padding-left: basePadding;
    border: none;
    font-family: 'Roboto', sans-serif;
    background: derbyGranite;

    // taken from bootstrap
    display: block
    position: relative
    margin-bottom: -1
  .list-group-item:first-child, .list-group-item:last-child
    border-radius: 0;
  .list-group-item.level-0, .list-group-item.level-1
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    padding-top: 15px
    text-transform: upperCase;
  .list-group-item.level-2
    padding-left: 24px + basePadding;
  .list-group-item.level-3
    padding-left: 36px + basePadding;

  .list-group-item a
    text-decoration: none
    color: derbyGray
    background: derbyGranite;
    
  .list-group-item a:hover
    color: derbyTeal;

  .list-group-item.active
    a
      color: derbyTealDark;
      background: derbyGranite;
  .list-group-item.active
    a:hover
      color: derbyTealDark;
      background: derbyGranite;

.next
  margin-top: 40px
  margin-bottom: 40px

.footer-space
  margin-top: 50px

.footer
  position: relative
  bottom: 0
  background-color: #f5f5f5
  text-align: center
  //margin-top: 50px

  .bs-docs-social
    margin: 10px
    .bs-docs-social-buttons
      display:inline-block
      padding-left:0
      margin-top:0
      margin-bottom:0
      list-style: none
      li
        margin-top: 10px
        display:inline-block
        padding: 0px 8px

  .bs-docs-footer-links 
    list-style: none
    margin-top: 10px
    margin-bottom: 10px
    padding-left: 0
    li
      display: inline
      padding: 5px 10px

  .attribution
    margin: 0
    padding-bottom: 20px






.scrollable {
  overflow-x: hidden;
  overflow-y: auto;
}
.wrapper {
  padding: 15px;
}



::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(50, 50, 50, 0.25);
  border: 2px solid transparent;
  border-radius: 10px;
  background-clip: padding-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(50, 50, 50, 0.5);
}
::-webkit-scrollbar-track {
  background-color: rgba(50, 50, 50, 0.05);
}
