.hljs
  display: block
  overflow-x: auto
  padding: 0.5em
  background: derbyBlackBrown
  color: derbyKhakiLight
  -webkit-text-size-adjust: none

.hljs-comment
  color: derbyKhakiDarker
  font-style: italic

.hljs-keyword
  color: derbyOrange

.hljs-string,
.hljs-number,
.hljs-literal
  color: derbyTeal

.hljs-params
  color: derbyRed

.hljs-attr,
.hljs-attribute
  color: derbyPink

.hljs-tag
  color: derbyKhaki
