.hljs
  display: block
  overflow-x: auto
  padding: 0.5em
  background: derbyBlackBrown
  color: derbyKhakiLight
  -webkit-text-size-adjust: none

.hljs-comment,
.hljs-template_comment,
.hljs-javadoc,
.hljs-shebang
  color: derbyKhaki
  font-style: italic

.hljs-keyword,
.ruby .hljs-function .hljs-keyword,
.hljs-request,
.hljs-status,
.nginx .hljs-title,
.method,
.hljs-list .hljs-title
  color: derbyOrange

.hljs-string,
.hljs-regexp,
.hljs-tag .hljs-value,
.hljs-cdata,
.hljs-filter .hljs-argument,
.hljs-attr_selector,
.hljs-date,
.hljs-constant,
.hljs-hexcolor,
.css .hljs-value .hljs-number
  color: derbyTeal

.hljs-tag .hljs-keyword,
.hljs-tag .hljs-title,
.hljs-doctype,
.hljs-sub .hljs-identifier,
.hljs-pi,
.input_number,
.hljs-identifier,
.hljs-number,
.hljs-params,
.hljs-variable
  color: derbyRed

.hljs-tag,
.hljs-symbol,
.hljs-built_in,
.hljs-attribute
  color: derbyPink

.javascript .xml,
.xml .javascript,
.xml .css,
.xml .hljs-cdata
  opacity: 0.7
